

:root {
    --mainBackgroundColor: #3f4ba5;
    --secondaryBackgroundColor: #aeaeae;
}





.weather-header{
    background-color: var(--mainBackgroundColor);
    margin: 10px;
}


.userInput{
    background-color:var(--secondaryBackgroundColor);
}

.userOutput{
    background-color:var(--secondaryBackgroundColor);
    
}

.customBtn{
    margin-top: 10px;
    width: 100%;
}
.form-control{
    font-size: 18px;

}

.current-Future-Container{
    margin-top: 20px;
    background-color: var(--mainBackgroundColor);
    color: white;
    display: flex;
    gap: 10px;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}


.cityOutput{
    margin-top: 20px;
    background-color: var(--mainBackgroundColor);
    color: white;
    padding: 10px;
}

