.weather-header{
    background-color: blue;
    margin: 10px;
}


.userInput{
    background-color: blanchedalmond;
}

.userOutput{
    background-color: blueviolet;
    
}

.customBtn{
    margin-top: 10px;
    width: 100%;
}
.form-control{
    font-size: 18px;

}

.cityOutput{
    margin-top: 20px;
    background-color: blue;
    color: white;
}